<div style="padding:25px">
    <h1>Concept#index</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        <% @concepts.each do |concept| %>
            <tr>
                <td><%= concept.name %></td>
                <td><%= concept.description %></td>
                <td><%= link_to 'Show', concept_path(concept)  %></td>
            </tr>
        <% end %>

    </table>
</div>
