// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-tree {
  background: #e6e6d5;
  float: left;
  position: fixed;
  width: 280px;
  height: 100%;
  z-index: 9;
  padding: 25px;
}

.usecase-show {
  margin-left: 0px;
  padding-left: 300px;
  padding-top: 25px;
  padding-right: 25px;
}

.rucm-template {
  display: table;
  border: 1px solid;
  width: 100%
}

.rucm-row {
  display: table-row;
}

.rucm-title-cell {
  border: 1px solid;
  display: table-cell;
  padding-left: 5px;
  width: 150px;
}

.rucm-content-cell {
  border: 1px solid;
  display: table-cell;
  padding-left: 5px;
  width: inherit;
}

.rucm-container-cell {
  display: table-cell;
  width: inherit;
}

.rucm-steps {
  display: table;
  width: 100%;
}

.rucm-steps-title-cell {
  border: 1px solid;
  display: table-cell;
  padding-left: 5px;
  width: 120px;
  text-align: center;
}

.rucm-editable-cell-text-wrapper {
  .rucm-editable-cell-icon {
    visibility: hidden;
  }
}

.rucm-editable-cell-text-wrapper:hover {
  .rucm-editable-cell-icon {
    visibility: visible;
  }
}

.rucm-editable-cell-input {
  width: 95%;
}



